@media (max-width: 768px) {
  .Premium {
    font-size: 32px;
  }

  p {
    font-size: 16px;
  }

  .top-header {
    display: none;
  }

  .two-btn {
    flex-direction: column;
  }
  .btn-primary-custum, .btn-secondary-custum {
    margin: 0 auto;
  }
  .section-padding {
    padding: 50px 0 !important;
  }
  .brand-story-left {
    text-align: center;
  }
  .experience-box {
    
    left: 180px;
}

.card2:nth-last-child(-n+3) {
    border-bottom: 1px solid #ddd;
  }
   .card2  {
    border-right: none;
  }
 



}
/* tablet */

@media (max-width: 992px){
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
 /* mobile */

 @media (max-width:576px){
  .card-grid {
    grid-template-columns: 1fr;
  }
 }

